<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel=stylesheet href=//at.alicdn.com/t/font_487406_d3i8mredft5ljtt9.css>
    <title></title>
    <link href=/static/css/app.e052b00820e42f6f083a59071b54edeb.css rel=stylesheet>
</head>
<body>
<div id=app-box></div>
<script>
    window.COMPANY_IMG1 = '/media/{{ img1 }}';
    window.COMPANY_IMG2 = '/media/{{ img2 }}';
    window.COMPANY_NAME = '{{ title }}';
</script>
<script type=text/javascript src=/static/js/manifest.12d328eea532ccfacf7c.js></script>
<script type=text/javascript src=/static/js/vendor.1b71810d098ec0187d5b.js></script>
<script type=text/javascript src=/static/js/app.6080ddb034125742eae8.js></script>
</body>
</html>